html,
body {
  min-width: 1440px;
  min-height: 4046px;
  background-color: #ffffff;
}
body {
 margin: 0;
 padding: 0;

 font-size: 24px;
 line-height: 30px;
 font-weight: 700;
 font-family: 'Roboto', Arial, Helvetica, sans-serif;
 color: #000000;

 background-color: #ffffff;
}
.main-header {
  margin-bottom: 80px;
  /* Временно для сетки */
  min-height: 545px;
}
.inner-header {
 height: 355px;
 background-color: #eeeeee;
}
.main-navigation {
  display: flex;
  flex-direction: row;
  /* Временно для сетки */
  background-color: #eeeeee;
}
.main-header-logo {
  padding: 0;
  width: 160px;
  height: 65px;
  /* Временно для сетки */
  /*display: block;*/
  margin-left: 140px;
  margin-right: 205px;
  padding-top: 50px;
}
.site-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 435px;
  padding-top: 50px;
  /*margin-top;: 83px;*/
  list-style: none;
  /* Временно для сетки */
  min-height: 70px;
}

.user-navigation {
  width: 115px;
  padding: 0;
  list-style: none;
  align-items: center;
  margin-left: 245px;
  margin-right: 115px;
  padding-top: 70px;
  /*margin-top: 83px;*/
  /* Временно для сетки */
  /*min-height: 70px;*/

}
.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 80px;

  /* Временно для сетки */
  min-height: 70px;
}
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
.main-navigation-wrapper .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.feature-list {
  display: flex;
  justify-content: space-between;
  margin-left: 140px;
  margin-right: 200px;

  list-style: none;
  /* Временно для сетки */
  min-height: 345px;
}
.feature-item {
  width: 300px;
  /* Временно для сетки */
  min-height: 345px;
}
.container-inner {
  display: flex;
  flex-direction: row;
  width: 1160px;
  min-height: 2210px;
}
.catalog-colums {
display: flex;
justify-content: space-between;
flex-direction: row;
}
.vertical-filters {
 display: flex;
 flex-direction: column;
 width: 260px;
 min-height: 770px;
}
.filters {
 /*width: 260px;
 min-height: 770px;*/

}
.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  list-style: none;
  width: 760px;
  justify-content: space-between;

}
.catalog-item {
  width: 360px;
  margin-bottom: 20px;


  /* Временно для сетки */
  min-height: 615px;
}

.pagination-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}


.contacts {

}
.studio  {
font-size: 18px;
line-height: 30px;
}
.adress-tel  {
font-size: 16px;
line-height: 18px;
color: #666666;
}
.be-friends ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin-left: 140px;
  margin-right: 340px;
  min-height: 216px;
}
.footer-social li {
  font-size: 36px;
  line-height: 36px;
  padding-left: 180px;
  padding-right: 355px;
}
.vk a {
  background-image: url("img/vk-icon.png");
}
.small {
  font-size: 16px;
  line-height: 22px;
}
.inner-page {
  margin: 0;
  padding: 0;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: #000000;

  background-color: #ffffff;
}
.main-header {
 background-color: #eeeeee;
}
.main-header-logo {
  background-color: #eeeeee;
}
.inner-header {
  background-color: #eeeeee;
}

.site-navigation-current {
  text-decoration: underline;;
}

fieldset {
  border: none;
}
legend {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;;
}
.filter-options,
.features  {
  list-style: none;
  font-size: 16px;
  line-height: 20px;
}
.filter-options:hover,
.features:hover,
.filter-options a:focus,
.features a:focus {
  color: #000000;
}
.button-show {
  font-size: 16px;;
  line-height: 18px;
  text-align: center;;
  background-color: #eeeeee;
}


.site-navigation,
.user-navigation {
 font-size: 16px;
 line-height: 30px;
 text-transform: uppercase;
}


.site-navigation,
.user-navigation,
.feature-list,
.feature-item {
 list-style: none;
}
.site-navigation a,
.user-navigation a {
 color: #000000;
 text-decoration: none;
}


.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}

.clients a:hover,
.clients a:focus {
 text-decoration-color: #000000;
}
.button {
 margin: 0;
 padding: 0;
 font: inherit;
 text-align: center;
 text-transform: uppercase;
 vertical-align: middle;
 background-color: #ffffff;
 border: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #ffffff;
}
 p {
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  font-style: normal;
 }
 .page-title  {
  font-size: 55px;
  line-height: 55px;
  text-align: center;

 }

 h3 {
 font-size: 24px;
 line-height: 30px;
 text-transform: uppercase;
 }
 input {
   font: inherit;
   background-color: transparent;
   border: 2px solid #000000;
 }

 .main-footer {
  color: #000000;


 }
 .footer-social-large{
  font-size: 36px;
  line-height: 36px;
 }
 .footer-social-small{
  font-size: 16px;
  line-height: 22px;
 }

 .modal {
  background-color: #ffffff;
  background-position: 0 0;
 }
