
body {
 margin: 0;
 padding: 0;

 font-size: 24px;
 line-height: 30px;
 font-weight: 700;
 font-family: 'Roboto', Arial, Helvetica, sans-serif;
 color: #000000;

 background-color: #ffffff;
}
.inner-page {
  margin: 0;
  padding: 0;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: #000000;

  background-color: #ffffff;
}
.main-header {
 background-color: #eeeeee;
}
.main-header-logo {
  background-color: #eeeeee;
}
.inner-header {
  background-color: #eeeeee;
}

.site-navigation-current {
  text-decoration: underline;;
}

fieldset {
  border: none;
}
legend {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;;
}
.filter-options,
.features  {
  list-style: none;
  font-size: 16px;
  line-height: 20px;
}
.filter-options:hover,
.features:hover,
.filter-options a:focus,
.features a:focus {
  color: #000000;
}
.button-show {
  font-size: 16px;;
  line-height: 18px;
  text-align: center;;
  background-color: #eeeeee;
}


.site-navigation,
.user-navigation {
 font-size: 16px;
 line-height: 30px;
 text-transform: uppercase;
}


.site-navigation,
.user-navigation,
.feature-list,
.feature-item {
 list-style: none;
}
.site-navigation a,
.user-navigation a {
 color: #000000;
 text-decoration: none;
}


.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}

.clients a:hover,
.clients a:focus {
 text-decoration-color: #000000;
}
.button {
 margin: 0;
 padding: 0;
 font: inherit;
 text-align: center;
 text-transform: uppercase;
 vertical-align: middle;
 background-color: #ffffff;
 border: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #ffffff;
}
 p {
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  font-style: normal;
 }
 .page-title  {
  font-size: 55px;
  line-height: 55px;
  text-align: center;

 }

 h3 {
 font-size: 24px;
 line-height: 30px;
 text-transform: uppercase;
 }
 input {
   font: inherit;
   background-color: transparent;
   border: 2px solid #000000;
 }

 .main-footer {
  color: #000000;


 }
 .footer-social-large{
  font-size: 36px;
  line-height: 36px;
 }
 .footer-social-small{
  font-size: 16px;
  line-height: 22px;
 }

 .modal {
  background-color: #ffffff;
  background-position: 0 0;

 }
